AUTH0_DOMAIN=https://your-auth0-domain/
DATABASE_NAME=db
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_URL=jdbc:postgresql://localhost:5433/db
REDIS_URL=redis://default:root@localhost:6380
REDIS_USER=default
REDIS_PASSWORD=root
